---

---

<footer class="px-5 py-6 text-center md:px-20 md:pb-16">
  Built by <a class="primary" href="https://geraldiner.com" target="_blank"
    >Geraldine</a
  > | <a class="secondary" href="/">You can build one too!</a>
</footer>
