---
import '../styles/global.css';
---

<header
  class="flex w-full items-center justify-center px-5 pt-4 md:px-20 md:pt-16"
>
  <nav><h1 class="text-center"><a href="/">Reuben Sandwiches</a></h1></nav>
</header>
